* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

.banner {
  padding: 150px 100px 0px 100px;
}
@media (max-width: 360px) {
  .banner {
    padding: 0px 16px 0px 16px;
  }
}
.banner__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .banner__row {
    display: block;
  }
}
.banner__row p {
  font-family: poppins;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}
@media (max-width: 360px) {
  .banner__row p {
    font-size: 32px;
    line-height: 40px;
  }
}
.banner__row p span {
  font-family: poppins;
  font-size: 72px;
  font-weight: 700;
  color: #FFB84C;
}
@media (max-width: 360px) {
  .banner__row p span {
    font-size: 32px;
  }
}
@media (max-width: 360px) {
  .banner__row .circle {
    height: 100%;
    width: 100%;
    max-width: 102px;
    max-height: 102px;
    position: relative;
  }
}
.banner__row .circle svg {
  width: 204px;
  height: 204px;
}
@media (max-width: 360px) {
  .banner__row .circle svg {
    height: 102px;
    width: 102px;
    position: relative;
    left: 220px;
    top: -40px;
  }
}
.banner__image {
  position: relative;
  top: 116px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 360px) {
  .banner__image {
    overflow: hidden;
    position: relative;
    top: -24px;
    left: 2px;
  }
}
.banner__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 16px solid #2B2730;
  border-radius: 32px;
  filter: grayscale(100%);
}
@media (max-width: 360px) {
  .banner__image img {
    max-width: 324px;
    height: 181.82px;
    -o-object-fit: cover;
       object-fit: cover;
    border: 4.31px solid #2B2730;
    border-radius: 8.61px;
  }
}

.cta {
  background-color: #2B2730;
  height: 420px;
  margin: 0px 100px 0px 100px;
  border-radius: 32px;
  position: relative;
  top: 116px;
}
@media (max-width: 360px) {
  .cta {
    margin: 0px 18px 0px 18px;
    position: relative;
    top: 0px;
    height: 284px;
  }
}
.cta__items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 116px;
}
@media (max-width: 360px) {
  .cta__items {
    padding: 0px;
    position: relative;
    top: 24px;
  }
}
.cta__items h2 {
  font-size: 56px;
  font-family: poppins;
  line-height: 64px;
  font-weight: 700;
  color: white;
}
@media (max-width: 360px) {
  .cta__items h2 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}
.cta__items p {
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
@media (max-width: 360px) {
  .cta__items p {
    text-align: center;
  }
}
.cta__items button {
  padding: 16px 32px 16px 32px;
  border-radius: 50px;
  background-color: #FFB84C;
  border-style: none;
}
@media (max-width: 360px) {
  .cta__items button {
    border-radius: 32px;
    align-items: center;
  }
}
.cta__items button a {
  color: black;
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
}

.features {
  padding: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .features {
    padding: 0px 18px 0px 18px;
    flex-direction: column;
    position: relative;
    top: -90px;
  }
}
.features .leftside h2 {
  font-family: poppins;
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}
@media (max-width: 360px) {
  .features .leftside h2 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
  }
}
.features .leftside p {
  font-family: poppins;
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
@media (max-width: 360px) {
  .features .leftside p {
    font-size: 16px;
    padding: 24px 0px 24px 0px;
    width: 323px;
  }
}
.features .leftside button {
  padding: 16px 32px 16px 32px;
  border-radius: 50px 50px;
  background-color: #2B2730;
}
@media (max-width: 360px) {
  .features .leftside button {
    padding: 16px 32px 16px 32px;
    border-radius: 32px;
  }
}
.features .leftside button a {
  color: white;
  text-decoration: none;
  font-family: poppins;
  font-size: 14px;
}
@media (max-width: 360px) {
  .features .rightside {
    padding-top: 32px;
  }
}
.features .rightside__upperrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 32px;
}
@media (max-width: 360px) {
  .features .rightside__upperrow {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 360px) {
  .features .rightside__upperrow .upperleft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .rightside__upperrow .upperleft svg {
    width: 92px;
    height: 92px;
  }
}
.features .rightside__upperrow .upperleft h3 {
  font-family: poppins;
  font-size: 24px;
}
.features .rightside__upperrow .upperleft p {
  font-size: 16px;
  font-family: poppins;
  line-height: 24px;
}
@media (max-width: 360px) {
  .features .rightside__upperrow .upperleft p {
    text-align: center;
  }
}
.features .rightside__upperrow .upperright {
  padding-left: 34px;
}
@media (max-width: 360px) {
  .features .rightside__upperrow .upperright {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .rightside__upperrow .upperright svg {
    width: 92px;
    height: 92px;
  }
}
.features .rightside__upperrow .upperright h3 {
  font-family: poppins;
  font-size: 24px;
}
.features .rightside__upperrow .upperright p {
  font-size: 16px;
  font-family: poppins;
  line-height: 24px;
}
@media (max-width: 360px) {
  .features .rightside__upperrow .upperright p {
    text-align: center;
  }
}
.features .rightside__lowerrow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .features .rightside__lowerrow {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 32px;
  }
}
@media (max-width: 360px) {
  .features .rightside__lowerrow .lowerleft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .rightside__lowerrow .lowerleft svg {
    width: 92px;
    height: 92px;
  }
}
.features .rightside__lowerrow .lowerleft h3 {
  font-family: poppins;
  font-size: 24px;
}
.features .rightside__lowerrow .lowerleft p {
  font-size: 16px;
  font-family: poppins;
  line-height: 24px;
}
@media (max-width: 360px) {
  .features .rightside__lowerrow .lowerleft p {
    text-align: center;
  }
}
@media (max-width: 360px) {
  .features .rightside__lowerrow .lowerright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features .rightside__lowerrow .lowerright svg {
    width: 92px;
    height: 92px;
  }
}
.features .rightside__lowerrow .lowerright h3 {
  font-family: poppins;
  font-size: 24px;
}
.features .rightside__lowerrow .lowerright p {
  font-size: 16px;
  font-family: poppins;
  line-height: 24px;
}
@media (max-width: 360px) {
  .features .rightside__lowerrow .lowerright p {
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 200px 100px 100px 100px;
}
@media (max-width: 360px) {
  .footer {
    padding: 0px 18px;
    padding-top: 64px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
}
@media (max-width: 360px) {
  .footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
  }
}
.footer__socials h3 {
  font-family: poppins;
}
.footer__socials h3 span {
  color: #FFB84C;
}
.footer__socials ul {
  padding-top: 74px;
  display: flex;
  list-style: none;
  gap: 8px;
}
@media (max-width: 360px) {
  .footer__socials ul {
    padding: 16px;
  }
}
.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
@media (max-width: 360px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
.footer__links .about p {
  font-size: 18px;
  font-family: poppins;
  font-weight: 700;
}
.footer__links .about ul {
  padding-top: 16px;
  list-style: none;
}
.footer__links .about ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: poppins;
  color: black;
}
.footer__links .for_creators p {
  font-size: 18px;
  font-family: poppins;
  font-weight: 700;
}
.footer__links .for_creators ul {
  padding-top: 16px;
  list-style: none;
}
.footer__links .for_creators ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: poppins;
  color: black;
}
.footer__links .learn p {
  font-size: 18px;
  font-family: poppins;
  font-weight: 700;
}
.footer__links .learn ul {
  padding-top: 16px;
  list-style: none;
}
.footer__links .learn ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: poppins;
  color: black;
}
.footer__links .support p {
  font-size: 18px;
  font-family: poppins;
  font-weight: 700;
}
.footer__links .support ul {
  padding-top: 16px;
  list-style: none;
}
.footer__links .support ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: poppins;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 32px 100px 0px 100px;
}
@media (max-width: 360px) {
  .navbar {
    padding: 24px 16px 24px 16px;
  }
}
.navbar__left {
  display: flex;
  gap: 40px;
  padding-top: 15px;
}
@media (max-width: 360px) {
  .navbar__left {
    padding: 0px;
  }
}
.navbar__left h3 {
  font-family: poppins;
}
.navbar__left h3 span {
  color: #FFB84C;
}
.navbar__left ul {
  list-style: none;
  display: flex;
}
.navbar__left ul li {
  justify-content: space-around;
  padding-right: 24px;
}
.navbar__left ul li a {
  text-decoration: none;
  font-family: poppins;
  font-size: 16px;
  color: black;
}
@media (max-width: 360px) {
  .navbar__left ul {
    display: none;
  }
}
.navbar__right {
  display: flex;
  justify-content: space-between;
}
.navbar__right p {
  font-family: poppins;
  font-size: 16px;
  padding-top: 15px;
  padding-right: 10px;
}
@media (max-width: 360px) {
  .navbar__right p {
    display: none;
  }
}
.navbar__right button {
  padding: 16px 32px 16px 32px;
  border-radius: 50px 50px;
  color: white;
  background-color: #2B2730;
  font-family: poppins;
  transition: transform 0.3s ease 0s;
}
@media (max-width: 360px) {
  .navbar__right button {
    display: none;
  }
}
.navbar__right .tooglebutton {
  display: none;
}
@media (max-width: 360px) {
  .navbar__right .tooglebutton {
    display: block;
    background-color: 0;
    height: 10px;
    width: 10px;
    padding-right: 23px;
  }
}
.navbar__right .tooglebutton .checkbox {
  opacity: 0;
  position: absolute;
}
.navbar .dropdown {
  display: none;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 360px) {
  .navbar .dropdown {
    display: none;
  }
}
.navbar .dropdown ul {
  list-style: none;
}
.navbar .dropdown ul li a {
  text-decoration: none;
  font-family: poppins;
  color: black;
  font-size: 14px;
}
.navbar .dropdown button {
  padding: 4px 15px 4px 15px;
  border-radius: 50px 50px;
  color: white;
  background-color: #2B2730;
  font-family: poppins;
}

div:has(#toggle:checked) ~ .dropdown {
  display: block;
}

.background {
  width: 100%;
  background-color: #2B2730;
  position: relative;
  top: -230px;
  z-index: -1;
}
@media (max-width: 360px) {
  .background {
    position: relative;
    top: -118px;
    z-index: -1;
    height: 2118px;
  }
}
@media (max-width: 1024px) {
  .background {
    position: relative;
    top: -118px;
    z-index: -1;
  }
}
.background__team {
  position: relative;
  padding: 390px 100px 0px 100px;
}
@media (max-width: 360px) {
  .background__team {
    padding: 116px 14px 0px 14px;
  }
}
.background__team .row1 p {
  font-size: 64px;
  line-height: 72px;
  font-weight: 700;
  font-family: poppins;
  color: white;
}
@media (max-width: 360px) {
  .background__team .row1 p {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
}
.background__team .row1 p span {
  font-size: 64px;
  font-weight: 700;
  font-family: poppins;
  color: #FFB84C;
}
@media (max-width: 360px) {
  .background__team .row1 p span {
    font-size: 32px;
    font-weight: 500;
  }
}
.background__team .row2 {
  padding-top: 116px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .background__team .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 40px;
  }
}
.background__team .row2 img {
  height: 522px;
  width: 340px;
  border-radius: 32px;
}
@media (max-width: 360px) {
  .background__team .row2 img {
    width: 328px;
    height: 436px;
    margin-bottom: 25px;
    border-radius: 26.78px;
  }
}
@media (max-width: 1024px) {
  .background__team .row2 img {
    width: 280px;
    height: 436px;
    border-radius: 26.78px;
  }
}
.background__team .row3 {
  padding-top: 116px;
  padding-bottom: 108px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .background__team .row3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
  }
}
.background__team .row3 .left {
  display: flex;
  gap: 32px;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 360px) {
  .background__team .row3 .left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.background__team .row3 .left p {
  font-size: 32px;
  font-family: poppins;
  color: white;
}
@media (max-width: 360px) {
  .background__team .row3 .left p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
.background__team .row3 .left span {
  font-family: poppins;
  font-size: 64px;
  font-weight: 700;
  color: #FFB84C;
}
@media (max-width: 360px) {
  .background__team .row3 .left span {
    font-size: 40px;
    line-height: 24px;
    font-weight: 700;
  }
}
.background__team .row3 .right {
  display: inline-flex;
  gap: 16px;
  padding-top: 40px;
}
@media (max-width: 360px) {
  .background__team .row3 .right {
    padding: 0px;
    position: relative;
    top: 50px;
  }
}
.background__team .row3 .right p {
  font-family: poppins;
  color: white;
  font-size: 32px;
  line-height: 40px;
}
@media (max-width: 360px) {
  .background__team .row3 .right p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 11px;
  }
  .background__team .row3 .right p br {
    display: none;
  }
}
@media (max-width: 360px) {
  .background__team .row3 .right a {
    padding-top: 15px;
  }
  .background__team .row3 .right a svg {
    height: 32px;
    width: 32px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
  margin: 0px auto;
}
@media (max-width: 360px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */