.banner{
    padding: 150px 100px 0px 100px;
    @media (max-width:360px) {
        padding: 0px 16px 0px 16px;
    }
    @media (min-width:768px) and (max-width:1024px){
        padding:100px 50px 0px 50px;
    }
    @media (min-width:640px) and (max-width:768px)  {
        padding: 50px 50px 0px 50px;
    }
    @media (min-width:361px) and (max-width:640px)  {
        padding: 50px 40px 0px 40px;
    }
    
    &__row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap ;
        @media (max-width:360px){
            display: block;
        }
        
       
        p{
            font-family: $logo-font;
            font-size: 72px;
            line-height: 80px;
            font-weight: 700;
            
            @media (max-width:360px) {
                font-size: 32px;
                line-height: 40px;
                
            } 
            @media(min-width:1024px) and (max-width:1213px){
                font-size: 45px;
                line-height: 50px;
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 45px;
                line-height: 50px;
              }
            @media (min-width:640px) and (max-width:768px)  {
                font-size:30px ;
                line-height:40px;
            }
            @media (min-width:361px) and (max-width:640px){
                font-size: 25px;
                line-height: 40px;
            } 
            span{
                font-family: $logo-font;
            font-weight: 700;
            color: $spancolor;
           
           
            }    
        }
        &--circle{
            @media (max-width:360px) {
                height: 100%;
                width: 100%;
                max-width: 102px;
                max-height: 102px;
                position: relative;
                
            }
            @media(min-width:361px) and (max-width:440px){
                position: relative;   
                left: 270px; 
                top: -15px;
            }
            @media (max-width:320px) {
                height: 100%;
                width: 100%;
                max-width: 80px;
                max-height:80px;
                position: relative;
                
            }
            @media (min-width:768px)and (max-width:1024px) {
                height: 100%;
                width: 100%;
                max-width: 150px;
                max: height 150px; 
            }
            @media (min-width:640px) and (max-width:768px)  {
                height: 100%;
                width: 100%;
                max-width: 100px;
                max-height:100px;
            }
            @media (min-width:361px) and (max-width:640px){
                height: 100%;
                width: 100%;
                max-width: 80px;
                max-height:80px;
            }
            svg{
                width: 204px;
                height: 204px;
                @media (max-width:360px){
                    height: 102px;
                    width: 102px;
                    position: relative;
                    left: 220px;
                    top: -50px;
                }
                @media (max-width:320px){
                    height: 80px;
                    width: 80px;
                    position: relative;
                    left: 210px;
                    top: -40px;
                }
                
                @media (min-width:768px)and (max-width:1024px){
                    height: 150px;
                    width: 150px;
                    position: relative;
                }
                @media (min-width:640px) and (max-width:768px)  {
                    height: 100px;
                    width: 100px;
                }
                @media (min-width:361px) and (max-width:640px){
                    height: 80px;
                    width: 80px;
                    
                }
            }

        }
    }
    &__image{
        position: relative;
        top: 116px;
        width: 100%;
        height:100%;
        overflow: hidden;
        @media (max-width:360px){
            // width: 100%;
            // height:100%;
            overflow: hidden;
            position: relative;
            top: -24px;
            left: 2px;
        }
        
        @media(min-width:640px) and (max-width:768px){
            position: relative;
            top:40px;
        }
        @media(min-width:361px) and (max-width:640px){
            position: relative;
            top: 30px;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border:16px solid #2B2730;
            border-radius: 32px;
            filter: grayscale(100%);
            @media (max-width:360px){
                max-width: 324px;
                height: 181.82px;
                object-fit: cover;
                border:4.31px solid #2B2730;
                border-radius: 8.61px;
            }
            @media(min-width:361px) and (max-width:640px){
                border:4.31px solid #2B2730;
                border-radius: 8.61px;
            }
        }

    }
}

