.features{
    padding: 0px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
    @media (max-width:360px){
        padding: 0px 18px 0px 18px;
        flex-direction: column;
        position: relative;
        top: -90px;
    }
    
    @media (min-width:768px)and (max-width:1024px){
        padding: 0px 50px 0px 50px;
        flex-wrap: nowrap;
    }
    @media (min-width:640px) and (max-width:768px){
        padding: 0px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;     
    }
    @media(min-width:361px) and (max-width:640px){
        padding: 0px 40px 0px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    @media(min-width:1024px) and (max-width:1244px){
        padding: 0px 50px 0px 50px;
        flex-wrap: nowrap;

    }
    
    &__leftside{
        @media (min-width:361px) and (max-width:640px){
            text-align: center;
        }
        @media (min-width:640px) and (max-width:768px){
            text-align: center;
        }
        h2{
            font-family: $logo-font;
            font-size: 56px;
            line-height: 64px;
            font-weight: 700;
                @media(max-width:360px){
                    
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: -0.025em;
                    text-align: left;
                }
                @media (min-width:768px)and (max-width:1024px){
                font-size:45px;
                }
                @media (min-width:361px) and (max-width:640px){
                    font-size: 35px;
                    line-height: 45px;

                }
                @media (min-width:1024px)and (max-width:1244px){
                    font-size:45px;
                    }

        }
        p{
            font-family: $logo-font;
            font-size: 16px;
            line-height: 24px;
            padding-top: 24px;
            padding-bottom: 24px;
            width: 100%;;
            @media(max-width: 360px){
                font-size: 16px;
                padding: 24px 0px 24px 0px;
                width: 323px;                 
            }
            @media (min-width:1024px)and (max-width:1244px){
                font-size:10px;
            }
        }
        button{
            
            padding: 16px 32px 16px 32px;
            border-radius: 50px 50px;
            background-color:$button-color;
            cursor: pointer;
                @media(max-width:360px){
                    padding: 16px 32px 16px 32px;
                    border-radius: 32px;
                   
                }
            a{
                
                color: white;
                text-decoration: none;
                font-family:$logo-font;
                font-size: 14px;
            }
        }
    }
    &__rightside{
        display: flex;
        @media (max-width:360px){
            padding-top: 32px;
        }
        @media (min-width:361px) and (max-width:640px){
            align-items: center;
            display: flex;
        }
        
       
        &--upperrow{
            display: flex;
            flex-wrap: wrap ;
            justify-content:space-between;
            padding-bottom: 32px;

            @media(max-width:320px){
                padding-top: 32px;
                position: relative;
                left: -15px;
            }
            @media(max-width:360px){
                display: flex;
                flex-direction: column;
                padding: 0px;
                align-items: center;
                padding-top: 32px;
                padding-bottom: 32px; 
                gap: 32px;               
            }
            @media (min-width:768px) and (max-width:1024px){    
                display: flex;
                flex-wrap: nowrap;
            }
            @media (min-width:640px) and (max-width:768px){    
                display: flex;
                flex-wrap: nowrap;
            }
            @media(min-width:361px) and (max-width:640px){
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;
            }
            @media (min-width:1024px)and (max-width:1244px){
                flex-wrap: nowrap;
            }
            
            
            .upperleft{
                @media (max-width:360px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    svg{
                        width: 92px;
                        height: 92px;
                    }
                    
                }
                @media(min-width:361px) and (max-width:640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                h3{
                font-family: $logo-font;
                font-size: 24px;
                
                }
                p{
                    font-size: 16px;
                    font-family: $logo-font;
                    line-height: 24px;
                    @media(max-width:360px){
                        text-align:center;
                    }
                    
                }
            }
            .upperright{
                padding-left: 34px;
                @media (max-width:360px){
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    svg{
                        width: 92px;
                        height: 92px;
                    }
                    
                }
                @media(min-width:361px) and (max-width:640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-left: 0px;
                }
                
                h3{
                    font-family: $logo-font;
                    font-size: 24px;
                    }
                    p{
                        font-size: 16px;
                        font-family: $logo-font;
                        line-height: 24px;
                        @media(max-width:360px){
                            text-align:center;
                        }
                    }
            }
            
        }
        &--lowerrow{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap ;
            @media(max-width:360px){
                display: flex;
                flex-direction: column;
                padding: 0px;
                align-items: center;
                gap: 32px;  
                
            }
            @media(max-width:320px){
                padding-top: 32px;
                position: relative;
                left: -15px;
            }
            @media (min-width:768px) and (max-width:1024px){    
                display: flex;
                flex-wrap: nowrap;
            }
            @media(min-width:361px) and (max-width:640px){
                display: flex;
                flex-direction: column;
                padding: 0px;
                align-items: center;    
                
                
            }
           
            .lowerleft{
                @media (max-width:360px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    svg{
                        width: 92px;
                        height: 92px;
                    }
                }
                @media(min-width:361px) and (max-width:640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                h3{
                    font-family: $logo-font;
                    font-size: 24px;
                    }
                    p{
                        font-size: 16px;
                        font-family: $logo-font;
                        line-height: 24px;
                        @media(max-width:360px){
                            text-align:center;
                        }
                    }
            }
            .lowerright{
                @media (max-width:360px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    svg{
                        width: 92px;
                        height: 92px;
                    }
                }
                @media(min-width:361px) and (max-width:640px){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                @media (min-width:768px) and (max-width:1024px){    
                    margin-left: 32px;
                }
                h3{
                    font-family: $logo-font;
                    font-size: 24px;
                    }
                    p{
                        font-size: 16px;
                        font-family: $logo-font;
                        line-height: 24px;
                        @media(max-width:360px){
                            text-align:center;
                        }
                    }
            }
        }
    }
}

