

.background{
    height: 1572px;
    width: 100%;
    background-color: $button-color;
    position: relative;
    top: -230px;
    z-index:-1;
        @media (max-width:360px) {
        position: relative;
        top: -118px;
        z-index:-1;
        height: 2118px;   
        }
    &__team{
        position:relative;
        top: 446px;
        padding: 0px 100px 0px 100px;
            @media(max-width:360px){
            
            position:relative;
            top:164px;
            padding: 0px 14px 0px 14px;
            }
        .row1{ 
            p{
                font-size: 64px;
                line-height: 72px;
                font-weight: 700;
                font-family: $logo-font;
                color: white;
                @media (max-width:360px){
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 500;
                }
                span{
                    font-size: 64px;
                    font-weight: 700;
                    font-family: $logo-font;
                    color:$spancolor;
                    @media (max-width:360px){
                        font-size: 32px;
                        font-weight: 500;
                    }
                    }
            }
            
        }
        .row2{
            position: relative;
            top: 116px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height:100%;
                @media(max-width:360px){
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height:100%;
                position: relative;
                top: 40px;
                }
            
            img{
                height: 522px;
                width: 340px;
                object-fit: cover;
                border-radius: 32px;
                @media(max-width:360px){
                    width: 328px;
                    height: 436px;
                    margin-bottom: 32px;
                    border-radius: 26.78px;
                } 
            }
            
            
        }
        .row3{
            
            position:relative;
            width: 100%;
            top:250px;
            display:inline-flex;
            justify-content: space-between;
            @media(max-width:360px){
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: 45px;
            }
            
            .left{
                display:flex;
                gap:32px;
                align-items: center;
                    @media(max-width:360px){
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }
                p{
                    font-size: 32px;
                    font-family: $logo-font;
                    color: white;
                        @media(max-width:360px){
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        
                        }
                    }
                    span{
                        font-family: $logo-font;
                        font-size:64px;
                        font-weight: 700;
                        color:$spancolor;
                        @media(max-width:360px){
                            font-size: 40px;
                            line-height: 24px;
                            font-weight: 700;
                        }
                    }
                }
            
            .right{
                display:inline-flex;
                gap:16px;
                padding-top: 40px;
                    @media (max-width:360px) 
                    {
                        
                        padding: 0px;
                        position: relative;
                        top: 50px;
                    }
                p{
                    font-family: $logo-font;
                    color: white;
                    font-size: 32px;
                    line-height: 40px;
                    @media(max-width:360px){
                        font-size: 16px;
                        font-weight: 500;
                        margin-top: 11px;
                        br{
                            display: none;
                        }
                        
                    }
                }
                @media(max-width:360px){
                    a{
                        padding-top: 15px;
                        svg{
                        height: 32px;
                        width: 32px;
                        }
                    }       
                }

            }

        }
    }
    }  